<!--::header part start::-->
<header class="main_menu home_menu">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-11">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="index.html"> <img src="img/logo.png" alt="logo"> </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
            <span class="menu_icon"><i class="fas fa-bars"></i></span>
          </button>

          <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link"
                   href=""
                   routerLink="/home"
                   routerLinkActive="active">หน้าหลัก</a>
              </li>

              <li class="nav-item">
                <a class="nav-link"
                   routerLink="/about-me"
                   routerLinkActive="active"
                   href="" >เกี่ยวกับเรา</a>
              </li>

              <li class="nav-item">
                <a class="nav-link"
                   routerLink="/agreement"
                   routerLinkActive="active"
                   href="" >ข้อกำหนดและเงื่อนไข</a>
              </li>

              <li class="nav-item">
                <a class="nav-link"
                   routerLink="/service"
                   routerLinkActive="active"
                   href="" >บริการลูกค้า</a>
              </li>
            </ul>
          </div>


<!--          <div class="col-xl-3 col-lg-3 d-none d-lg-block">-->
<!--            <div class="Appointment">-->

<!--             <div class="d-none d-lg-block">-->
<!--                 <a class="boxed-btn3" href="login.html"> <i class="far fa-user"></i>  เข้าสู่ระบบ</a>-->
<!--             </div>-->
<!--            </div>-->
<!--          </div>-->

        </nav>
      </div>
    </div>
  </div>
</header>
<!-- Header part end-->
