
<!--::footer_part start::-->
<footer class="footer_part">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-sm-6 col-lg-2">
        <div class="single_footer_part">
          <h4>หมวดหมู่</h4>
          <ul class="list-unstyled">
            <li><a href="#">เสื้อผ้า-เครื่องแต่งกาย</a></li>
            <li><a href="#">เฟอร์นิเจอร์-เก้าอี้</a></li>
            <li><a href="#">อุปกรณ์ทำความสะอาด</a></li>
            <li><a href="#">เครื่องใช้ไฟฟ้า</a></li>
            <li><a href="#">อุปกรณ์ทำอาหาร</a></li>
            <li><a href="#">คอมพิวเตอร์</a></li>
            <li><a href="#">กล้องถ่ายรูป</a></li>
            <li><a href="#">ท่องเที่ยว</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-lg-2">
        <div class="single_footer_part">
          <h4>เมนู</h4>
          <ul class="list-unstyled">
            <li><a href="">หน้าหลัก</a></li>
            <li><a href="">เกี่ยวกับเรา</a></li>
            <li><a href="">ข้อกำหนดและเงื่อนไข</a></li>
            <li><a href="">บริการลูกค้า</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="single_footer_part">
          <h4>ที่อยู่</h4>
          <ul class="list-unstyled">
            <li><a href="#">200, Green block, NewYork</a></li>
            <li><a href="#">+10 456 267 1678</a></li>
            <li><span>contact89@winter.com</span></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="single_footer_part">
          <h4>ช่วยเหลือ</h4>

          <div class="social_icon">
            <a href="#"><i class="ti-facebook"></i></a>
            <a href="#"><i class="ti-twitter-alt"></i></a>
            <a href="#"><i class="ti-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="copyright_text">

        </div>
      </div>
    </div>
  </div>
</footer>
<!--::footer_part end::-->
