<!-- banner part start-->
<section class="banner_part">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="banner_slider">
          <div class="single_banner_slider">
            <div class="banner_text">
              <div class="banner_text_iner">
                <h5>Winter.com</h5>
                <h2>ค้นหาสิ่งของและทดลองเช่าก่อนซื้อจริง</h2>
                <a href="main.html" class="btn_1">ต้องการเช่า</a>
                <a href="login.html" class="btn_1">ต้องการฝากเช่า</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- banner part start-->

<!-- feature_part start-->
<section class="feature_part pt-4">
  <div class="container-fluid p-lg-0 overflow-hidden">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-4 col-sm-6">
        <div class="single_feature_post_text">
          <img src="img/feature_1.png" alt="#">
          <div class="hover_text">
            <a href="main.html" class="btn_2">เสื้อผ้า-เครื่องแต่งกาย</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="single_feature_post_text">
          <img src="img/feature_2.png" alt="#">
          <div class="hover_text">
            <a href="main.html" class="btn_2">เครื่องใช้ไฟฟ้า</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="single_feature_post_text">
          <img src="img/feature_3.png" alt="#">
          <div class="hover_text">
            <a href="main.html" class="btn_2">อุปกรณ์ทำอาหาร</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- upcoming_event part start-->
